<li class="nav-item">
    <a class="dropdown-item" href="{{ path('admin_profile_show') }}">
        <i class="fa fa-user"></i> Mon compte
    </a>
</li>
<li class="nav-item">
    <a class="dropdown-item" href="{{ path('admin_profile_edit') }}">
        <i class="fa fa-edit"></i> Modifier mon profile
    </a>
</li>
<li class="nav-item">
    <a class="dropdown-item" href="{{ path('admin_change_password') }}">
        <i class="fa fa-lock"></i> Modifier mon mot de passe
    </a>
</li>
<li class="nav-item">
    <a class="dropdown-item" href="{{ path('admin_account_logout') }}">
        <i class="fa fa-sign-out"></i> Déconnexion
    </a>
</li>