{% extends 'base.html.twig' %}

{% trans_default_domain 'company' %}

{% block title %}{% trans %}congrats.title{% endtrans %}{% endblock %}

{% block body %}
   <div class="registration-complete">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-9 text-center">
               <h1>{% trans %}congrats.message{% endtrans %}</h1>
               <p>{% trans %}congrats.details{% endtrans %}</p>
               <a class="btn btn-bg-red btn-h50 btn-w15" href="{{ path('startuper_company_dashboard_show', { id: company.id, slug: company.slug}) }}">
                  {% trans %}Go to the dashboard{% endtrans %}
               </a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

