{% extends 'base.html.twig' %}

{% trans_default_domain 'project' %}

{% block title %}{% trans %}Deletion confirmation{% endtrans %}{% endblock %}

{% block body %}
   <div class="project-delete">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-9 text-center">
               <h2>{% trans %}Deletion confirmation{% endtrans %}</h2>
               <p>{% trans %}Are you sure you want to delete this project{% endtrans %} "<strong>{{ project.name }}</strong>"?</p>
               <form action="{{ url('startuper_project_delete', { id: project.id, slug: project.slug }) }}" method="post">
                  <input type="hidden" name="token" value="{{ csrf_token('startuper-delete-project' ~ project.id) }}" />
                  <div class="c-block-btn">
                     <button type="submit" class="btn btn-bg-red btn-h50 btn-w25">
                        <i class="fa fa-trash"></i> {% trans %}Yes, delete{% endtrans %}
                     </button>
                     <a href="{{ path('startuper_project_show', {id: project.id, slug: project.slug}) }}" class="btn btn-bg-blue btn-h50 btn-w25">
                        <i class="fa fa-times"></i> {% trans %}Cancel{% endtrans %}
                     </a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
{% endblock %}