[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-call:before {
  content: "\e950";
}
.icon-global:before {
  content: "\e951";
}
.icon-sharing-interface:before {
  content: "\e94e";
}
.icon-save:before {
  content: "\e94c";
}
.icon-save-button:before {
  content: "\e94d";
}
.icon-like:before {
  content: "\e94b";
}
.icon-left-arrow:before {
  content: "\e94a";
}
.icon-clock:before {
  content: "\e948";
}
.icon-chart-pie:before {
  content: "\e946";
}
.icon-file-signature:before {
  content: "\e947";
}
.icon-open-email:before {
  content: "\e94f";
}
.icon-key:before {
  content: "\e944";
}
.icon-logout:before {
  content: "\e945";
}
.icon-edit1:before {
  content: "\e943";
}
.icon-garbage:before {
  content: "\e941";
}
.icon-close:before {
  content: "\e940";
}
.icon-Verifi-white-filled .path1:before {
  content: "\e93e";
  color: rgb(4, 207, 253);
}
.icon-Verifi-white-filled .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Verifi:before {
  content: "\e93d";
  color: #04cffd;
}
.icon-outils:before {
  content: "\e92a";
}
.icon-add:before {
  content: "\e933";
}
.icon-picture-1:before {
  content: "\e922";
}
.icon-play-button-1:before {
  content: "\e923";
}
.icon-facebook-logo-1:before {
  content: "\e904";
}
.icon-linkedin-logo1:before {
  content: "\e91e";
}
.icon-twitter-logo-silhouette:before {
  content: "\e91f";
}
.icon-correct-symbol:before {
  content: "\e91a";
}
.icon-picture:before {
  content: "\e919";
}
.icon-minus-symbol:before {
  content: "\e942";
}
.icon-right-arrow:before {
  content: "\e918";
}
.icon-controls:before {
  content: "\e928";
}
.icon-favorite-heart-button:before {
  content: "\e929";
}
.icon-investment:before {
  content: "\e937";
}
.icon-message:before {
  content: "\e92b";
}
.icon-notebook:before {
  content: "\e92c";
}
.icon-notification:before {
  content: "\e92d";
}
.icon-question:before {
  content: "\e92e";
}
.icon-settings:before {
  content: "\e932";
}
.icon-visibility:before {
  content: "\e930";
}
.icon-exchange-arrows:before {
  content: "\e927";
}
.icon-Facebook:before {
  content: "\e924";
}
.icon-Linkedin:before {
  content: "\e925";
}
.icon-Youtube:before {
  content: "\e926";
}
.icon-Lock:before {
  content: "\e920";
}
.icon-User:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-placeholder:before {
  content: "\e91d";
}
.icon-Docutheque--la-une:before {
  content: "\e916";
}
.icon-chevron-pointing-to-the-left:before {
  content: "\e949";
}
.icon-right-chevron-1:before {
  content: "\e917";
}
.icon-docutheque:before {
  content: "\e938";
}
.icon-edit:before {
  content: "\e939";
}
.icon-finance:before {
  content: "\e92f";
}
.icon-montant:before {
  content: "\e931";
}
.icon-projets:before {
  content: "\e93a";
}
.icon-qualifie:before {
  content: "\e934";
  color: #fff;
}
.icon-secteur:before {
  content: "\e935";
}
.icon-visites:before {
  content: "\e936";
}
.icon-archive:before {
  content: "\e93b";
}
.icon-coins:before {
  content: "\e93c";
}
.icon-play-button:before {
  content: "\e915";
}
.icon-facebook-logo:before {
  content: "\e910";
}
.icon-google-plus-logo-on-black-background:before {
  content: "\e911";
}
.icon-linkedin-logo:before {
  content: "\e912";
}
.icon-twitter-logo-on-black-background:before {
  content: "\e913";
}
.icon-check-mark .path1:before {
  content: "\e90e";
  color: rgb(13, 183, 255);
}
.icon-check-mark .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube-logo:before {
  content: "\e914";
}
.icon-add-circle:before {
  content: "\e907";
}
.icon-caret-down:before {
  content: "\e908";
}
.icon-check-circle:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e90a";
}
.icon-right-chevron:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-user-circle:before {
  content: "\e90d";
}
.icon-a-la-une:before {
  content: "\e900";
}
.icon-auto-production:before {
  content: "\e901";
}
.icon-documents-publics:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}