.b-testimonials {
  display: none;
  background-color: $bg-white-default;
  padding-top: 51px;
  padding-bottom: 40px;
  @media #{$mobile} {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .c-heading {
    margin-bottom: 50px;
    @media #{$tab-max} {
      margin-bottom: 20px;
    }
    @media #{$mobile} {
      margin-bottom: 10px;
    }
  }

  .styleCard-Choose-flowingo {
    padding: 0;
    @media #{$tab-min-2} {
      padding: 15px;
    }
  }

  .slider {
    position: relative;
    margin-bottom: 59px;
    opacity: 0;
    @media #{$tab-max} {
      margin-bottom: 20px;
    }
    @media #{$mobile} {
      margin-bottom: 0px;
    }
    &.slick-initialized {
      opacity: 1;
    }
  }

  .slick-list {
    overflow: hidden;
    padding: 10px 0 !important;
  }

  .slick-track {
    padding-top: 72px;
    @media #{$mobile} {
      padding-top: 60px;
    }
  }

  .slick-arrow {
    background-color: $coralRed;
    transition: all .3s ease-in-out;
    @media #{$tab-max} {
      width: 40px;
      height: 40px;
    }
    @media #{$mobile} {
      top: 40%;
    }
    &:before {
      background-color: transparent;
      color: $white;
    }
  }

  .slick-slide {
    position: relative;
    transform: scale(0.7);
    float: left;
    z-index: -1;
    transition: all .3s ease-in-out;
    @media #{$tab-min-2} {
      transform: scale(1);
    }
  }
  .slick-center {
    transform: scaleX(2);
    z-index: 1;
    @media #{$tab-min-2} {
      transform: scale(1);
    }
     .card {
       .card-img {
         transform: scaleX(0.52) translate(-100%, -50%);
         @media #{$tab-min-2} {
           transform: scale(1) translate(-50%, -50%);
         }
       }
       .card-body {
         transform: scaleX(0.52);
         @media #{$tab-min-2} {
           transform: scale(1);
         }
       }
     }
  }
  .slick-next {
    right: 0;
    @media #{$desk-max} {
      right: 10px;
    }
    @media #{$tab-max} {
      right: 0px;
    }
    @media #{$tab-min} {
      right: 5px;
    }
    @media #{$mobile} {
      right: 20px;
    }
    &:before {
      top: 3px;
      left: 3px;
      @media #{$tab-max} {
        top: 0px;
        left: 2px;
      }
      @media #{$tab-min} {
        top: 9px;
        left: 2px;
      }
      @media #{$mobile} {
        top: 8px;
        left: 1px;
      }
    }
  }
  .slick-prev {
    left: 0;
    @media #{$desk-max} {
      left: 10px;
    }
    @media #{$tab-max} {
      left: 0px;
    }
    @media #{$tab-min} {
      left: 5px;
    }
    @media #{$mobile} {
      left: 20px;
    }
    &:before {
      top: 3px;
      left: 3px;
      @media #{$tab-max} {
        top: 0px;
        left: 2px;
      }
      @media #{$tab-min} {
        top: 9px;
        left: 2px;
      }
      @media #{$mobile} {
        top: 8px;
        left: 1px;
      }
    }
  }

  .card {
    padding: 80px 30px 60px;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 6px rgba($black,.2);
    @media #{$tab-max} {
      padding: 80px 15px 30px;
    }
    @media #{$mobile} {
      padding: 70px 15px 20px;
    }

    .card-img {
      border: 6px solid $white;
      border-radius: 50%;
      width: 138px;
      height: 138px;
      margin: 0 auto;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 4px 16px rgba($black, .6);
    }

    h3 {
      font-size: rem(36px);
      font-weight: 500;
      color: $coralRed;
    }

    h4 {
      font-size: rem(28px);
      font-weight: 300;
    }

    .card-text {
      font-size: rem(28px);
      font-weight: 300;
    }
  }
}