.row {
    &#results {
        margin-left: -12px;
        margin-right: -12px;
        padding-bottom: 60px;
        min-height: 300px;

        @media #{$desk-2} {
            margin: 0;
            padding: 0 10px;
        }
        @media #{$tab-max} {
            padding: 0;
        }
    }
}

.styleCard {
    padding: 0 12px;
    margin-bottom: 24px;
}

.card-project {
    height: 100%;
    background-color: $white;
    border: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    transition: all .3s ease;

    &:hover {
        transform: translate(0,-3px);
    }
    @media #{$mobile} {
        &:hover {
            transform: none;
        }
    }

    //&>a {
    //    height: 100%;
    //}


    &.closed {
        opacity: .5;
        .passed-flag {
            position: absolute;
            top: 0;
            left: 0px;
            border-bottom-right-radius: 8px;
            z-index: 10;
            color: $white;
            background-color: $cloudBurst;
            padding: 3px 12px;
            font-size: rem(14px);
            display: block;
        }
    }

    .card-img-top {
        height: 300px;
        position: relative;
        overflow: hidden;
        @media #{$mobile} {
            height: 220px;
        }

        &:after {
            content: '';
            background-image: linear-gradient(to top, rgba($black, .7), transparent);
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 80px;
            z-index: 1;
        }

        img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .project-card-verified {
            background-color: transparent;
            width: 70px;
            height: 70px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            overflow: hidden;

            @media #{$tab-min} {
                height: 60px;
                width: 60px;
            }

            &:before {
                content: '';
                font-size: 1.5rem;
                font-weight: 400;
                width: 0;
                height: 0;
                border-top: 70px solid $dodgerBlue;
                border-right: 70px solid transparent;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;

                @media #{$tab-min} {
                    border-top: 60px solid $dodgerBlue;
                    border-right: 60px solid transparent;
                }
            }

            .icon-content {
                z-index: 2333;
                position: relative;
                top: 15px;
                left: 7px;

                @media #{$tab-min} {
                    top: 12px;
                    left: 4px;
                }
                @media #{$mobile} {
                    top: 14px;
                    left: 7px;
                }
            }

            i {
                color: $white;
                margin-left: 4px;
                font-size: rem(20px);
                font-weight: 500;

                &:before {
                    color: $white;
                }
            }
        }

        .project-card-langue {
            position: absolute;
            top: 21px;
            right: 21px;
            text-transform: uppercase;
            line-height: 1.2;
            z-index: 2;
            span {
                font-size: rem(24px);
                font-weight: 400;
                color: $white;

            }
        }
        .project-card-icons {
            position: absolute;
            left: 23px;
            bottom: 8px;
            font-size: rem(24px);
            font-weight: 400;
            z-index: 2;
            i {
                margin-right: 10px;
            }
            .icon-picture-1,
            .icon-play-button-1{
                color: $white;
                vertical-align: middle;
                font-weight: bold;
            }
            .icon-picture-1 {
                font-size: rem(23px);
            }
        }
        .project-card-likes {
            position: absolute;
            right: 23px;
            bottom: 8px;
            text-transform: uppercase;
            line-height: 1.2;
            z-index: 2;
            .js-like,
            .js-like-project {
                color: $white;
            }
            span {
                font-size: rem(24px);
                font-weight: 400;
                color: $white;

                i {
                    font-size: rem(18px);
                    color: $white;
                    margin-left: 4px;
                    vertical-align: baseline;
                }
            }
        }
    }

    .card-body {
        position: relative;
        padding: 19px 0px 0;

        .card-title,
        .card-progress h4,
        .progress-price,
        .progress-content,
        .card-text,
        .card-additions,
        .secteur {
            padding: 0 22px;
        }

        .card-title {
            font-size: rem(28px);
            font-weight: 500;
            color: $black;
            margin-bottom: 18px;
            display: block;
            padding: 0 26px;
            @media #{$mobile} {
                margin-bottom: 10px;
            }

            &-second {
                font-size: rem(16px);
                font-weight: 500;
                color: $gray-scorpion-1;
                margin-top: -18px;
                margin-bottom: 18px;
                display: block;
                padding: 0 26px;
                min-height: 1px;
                @media #{$mobile} {
                    margin-top: -10px;
                    margin-bottom: 10px;
                }
            }
        }

        .card-progress {
            margin-bottom: 17px;
            @media #{$mobile} {
                margin-bottom: 10px;
            }
            h3 {
                font-size: rem(14px);
                font-weight: 400;
                color: $gray-scorpion-1;
                padding: 0 26px;
                margin-bottom: 3px;
            }
            .progress-price {
                &:not(.company) {
                    width: 100%;
                    line-height: 0;
                    margin-bottom: 6px;
                    @include linear-gradient(to right, $orange, $yellow);
                    @media #{$mobile} {
                        line-height: normal;
                        margin-bottom: 0;
                    }
                    strong {
                        font-size: rem(48px);
                        color: $white;
                        line-height: 60px;
                        @media #{$tab-max} {
                            font-size: rem(32px);
                        }
                        @media #{$mobile} {
                            line-height: normal;
                        }
                    }
                    span {
                        font-size: rem(17px);
                        font-weight: 600;
                        color: $white;
                        text-transform: uppercase;
                    }
                }

                &.company {
                    padding: 0 4px;
                    color: $gray-scorpion-1;
                    &:first-child {
                        padding-left: 0;
                    }
                    strong, span {
                        font-size: rem(16px);
                        font-weight: 400;
                        color: $gray-scorpion-1;
                    }
                    span {
                        text-transform: uppercase;
                    }
                }

                &-wrapper {
                    display: flex;
                    padding: 0 22px;
                    color: $gray-scorpion-1;
                    opacity: .68;
                }
            }

            //&.has-progress {
            //    .progress-content {
            //        padding-top: 10px;
            //        padding-bottom: 10px;
            //    }
            //}
        }

        .card-text {
            font-size: rem(18px);
            font-weight: 300;
            color: $black;   
            line-height: 24px;
            margin-bottom: 13px;
            @media #{$mobile} {
                line-height: normal;
                margin-bottom: 10px;
            }
        }

        .card-additions {
            padding-left: 24px;
            ul {
                margin-bottom: 14px;
                padding: 0;
                @media #{$mobile} {
                    margin-bottom: 10px;
                }
                li {
                    color: $gray-Emperor;
                    margin-bottom: 4px;
                    span {
                        font-size: rem(16px);
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }
            }
        }

        .secteur {
            h5 {
                font-size: rem(14px);
                font-weight: 400;
                color: $gray-scorpion-1;
                margin-bottom: 7px;
            }
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 7px;
            .btn {
                font-size: rem(14px);
                font-weight: 400;
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: initial;
                @media #{$mobile} {
                    margin-right: 5px;
                    margin-bottom: 5px;
                }

                &.show-more {
                    cursor: pointer;
                    width: 30px;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .card-footer {
        padding-right: 0;
        padding-left: 0;
        margin-right: 1.25rem;
        margin-left: 1.25rem;
        background: transparent; 
    }

    &.card-company {
        .card-body {
            padding: 19px 0;
        }
    }
}


.progress-content {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 0;
    .progress {
        width: 88%;
        height: 12px;
        display: inline-flex;
        background-color: rgba($egioColor, 0.3);
        border-radius: 0;
        .block-card & {
            background-color: rgba($white, 0.5);
        }
        .progress-bar {
            background-color: $egioColor;
            border-radius: 0;
            .block-card & {
                background-color: $white;
            }
        }
    }
    .percentage {
        font-size: rem(16px);
        font-weight: 300;
        width: 12%;
        color: $heather;
        text-align: right;
        display: inline;
        vertical-align: middle;
    }
}

.gif {
    display: none;
    height: 30px;
    width: 30px;
    // display: block;
    margin: 20px auto;
}

#btn-load-more {
    display: block;
    margin: 0 auto;
}