{% if object.isUpdated or object.isApproved == 0 %}
     <a href="{{ admin.generateObjectUrl('preview', object) }}" class="btn btn-sm btn-info" target="_blank">
        <i class="fa fa-eye"></i> Preview
     </a>
{% endif %}
