{% if object.messages|length > 0 %}
      <a href="{{ admin.generateObjectUrl('messages', object) }}" class="btn btn-sm btn-primary">
            <i class="fa fa-comment"></i> {{ object.messages|length  }} Messages
      </a>
{% endif %}
